@import './_buttom.css';
@import './_input.css';
@import './_table.css';
@import './_loading.css';

.name-form, .result {
  width: 100%;
  margin-top: 1rem;
}

.name-form__container, .result__container {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.name-form__form {
  padding: 2rem 2.5rem;
}

.name-form__input {
  margin-bottom: 1rem;
}

.result__container-info {
    div {
    margin: 1rem;
    }
  > div {
    border: 1px solid #22577A;
    border-radius: 8px 8px 8px 8px;
  }
}

.result__container-info-header {
  display: flex;
  justify-content: center;
  > div {
    display: flex;
    align-items: center;
    width: 100%;
    > h4 {
      margin-right: 1rem;
    }
  }

}
.result__container-nationalities ul {
 padding: 0;
}
.result__container-nationalities ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-around;
}
.result__container-nationalities-flag {
  width: 35%;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
} 
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

.w-full {
  width: 100%;
}

.header__title {
  color: #fff;
}

.main {
  background-color: #fff;
  padding: 1rem 2rem 1rem 2rem;
}
.main__container > div {
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid #000;
}