.header {

}
.header__title {
  color: #fff;
}
.main {
  background-color: #fff;
  padding: 1rem 2rem 1rem 2rem;
}
.main__container > div {
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid #000;
}